{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<h3>{% trans 'Log in' %}</h3>
{% include 'core/_form.html' %}
    <div class="row justify-content-end">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <a href="{% url 'registration_register' %}">
                <button class="btn btn-primary">{% trans 'Sign up' %}</button>
            </a>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="{% url 'auth_password_reset' %}">{% trans 'Reset password' %}</a>
        </div>
    </div>
{% endblock %}

{% block title %}
{% trans 'Log in' %}
{% endblock %}