{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profiles</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>{% trans 'User' %}</th>
        <th>{% trans 'First name' %}</th>
        <th>{% trans 'Last name' %}</th>
        <th>{% trans 'E-mail' %}</th>
        <th>{% trans 'Country' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.user }}</td>
        <td>{{ profile.first_name }}</td>
        <td>{{ profile.last_name }}</td>
        <td>{{ profile.email }}</td>
        <td>{{ profile.country }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>