{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <h3>{% trans 'General profile' %}</h3>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab"
                       href="#home" role="tab" aria-controls="home"
                       aria-selected="true">
                        {% trans 'General information' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab"
                       href="#profile" role="tab" aria-controls="profile"
                       aria-selected="false">{% trans 'Membership payments' %}</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel"
                     aria-labelledby="home-tab">
                    {% include 'core/_profile_form.html' %}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel"
                     aria-labelledby="profile-tab">
                    <table class="table">
                        <tr>
                            <th>{% trans 'Created' %}</th>
                            <th>{% trans 'Amount' %}</th>
                            <th>{% trans 'Reference' %}</th>
                        </tr>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment.created|date:"Y-m-d" }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.reference }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <a href="{% url 'report_members' %}">
                        <button class="btn btn-dark">{% trans 'Reports' %}</button>
                    </a>

{#                    <a href="{% url 'resubscribe' %}">#}
{#                        <button class="btn btn-warning">{% trans 'Re-enable automatic payments' %}</button>#}
{#                    </a>#}


                    <button class="btn btn-warning">{% trans 'Remove membership' %}</button>


                    <a href="{% url 'auth_logout' %}">
                        <button class="btn btn-danger">{% trans 'Log out' %}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{% trans 'Details' %}{% endblock %}

{% block js %}
    <script src="{% static 'js/remove_membership.js' %}"></script>
{% endblock %}