{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <h3>{% trans 'Membership payment' %}</h3>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p>
                {% blocktrans %}
                    S+ is a non-profit organization and its main funding sources, according to your location the monthly membership is ${{ price }}. To become member, please select the payment method:
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12"
             id="button_paypal">
        </div>
    </div>

    <input type="hidden" id="plan_id" value="{{ paypal_plan }}"/>
{% endblock %}

{% block js %}
    <script
        src="https://www.paypal.com/sdk/js?client-id={{ client_id }}&vault=true">
    </script>
    <script src="{% static 'js/process_paypal_payment.js' %}"></script>
{% endblock %}